%p#notice= notice
%p
  %strong Category title:
  = @category.category_title
%p
  %strong Is restricted:
  = @category.is_restricted
%p
  %strong Parent:
  = @category.parent_id
%p
  %strong Coins required:
  = @category.coins_required
%p
  %strong Free listing allowed:
  = @category.free_listing_allowed
%p
  %strong Free month duration:
  = @category.free_month_duration
%p
  %strong Paid month duration:
  = @category.paid_month_duration
%p
  %strong Is active:
  = @category.is_active
= link_to 'Edit', edit_category_path(@category)
|
= link_to 'Back', categories_path
